*{
    text-align: center;
    box-sizing: border-box;
}

table{
    border: 1px solid rgb(200,200,200);
    border-collapse: collapse;
    max-height:30vh;
}

td, th{
    border: 1px solid rgb(200,200,200);
    padding:20px;

}

th {
    background-color: rgb(235,235,235);
  }
tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }


body{
    display:flex;
    flex-direction:column;
    gap: 20px;
}

.container{
    display:flex;
    justify-content: center;
    height:50vh;

}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-height:40vh;

  }

.wrapper{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.form2{
  display:flex;
  flex-direction:column;
  margin-top:158px;
  gap: 38px;
  padding-right:10px;
}

.buttonsubmit{
  margin-top:60px
}


.totalCSS{
  border-top: 1.5px solid black ;
}

input{
  width: 50px;
}

#appt{
  width: 100px;
}

.fixed{
  position:fixed;
  left:10vh;
  top:40vh;
}